<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/Register.css">
    <script>
        
    </script>
    <script>
        function goToRegistration() {
            window.location.href = '/Home/RegisterForm';
        }
    </script>
</head>
<body>
    <h2>Sign in:</h2>
    <form name="registrationForm" method="post" action="/Home/Register" onsubmit="return validateForm()">
        <div id="error-message" class="error-message"></div>
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" name="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" name="Password" class="form-control" />
        </div>
        <label class="btn" onclick="goToRegistration()">Go to Registration</label>
        <input type="submit" value="Sign in" class="btn btn-primary" id="Register" />
    </form>
</body>
</html>