@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Assistant Website</title>
    <link type="text/css" href="~/css/Index.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <header>
            <h1>Voice Assistant</h1>
            <nav>
                <ul>
                    <li><a id="buttonSetting" onclick="openSettings" href="#settings">Settings</a></li>
                    <li><a href="#programs">Add Programs</a></li>
                </ul>
            </nav>
        </header>
        <main id="mainContent">
            <!-- Content Goes Here -->
        </main>
    </div>
    <footer>
        <p>This Voice Assistant can help you open apps through voice input.</p>
    </footer>
    <script type ="text/javascript">

        function openSettings() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '~\html\settings.cshtml', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('mainContent').innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }

    </script>
</body>
</html> *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>

    <form method="post" asp-controller="Home" asp-action="RedirectToPage">
        <input type="submit" name="button" value="settings" />
        <input type="submit" name="button" value="Add programs" />
    </form>
</body>
</html>
