body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
